:root {
    --background-color: #0e0e0e;
    --highlight-text: #23CE6B;
    --font-white: rgb(240, 240, 240);
    --navbar-background: #0e0e0ef0;
}

* {
    margin: 0;
    padding: 0;
    color: var(--font-white);
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 6em;
    padding: 1em;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: #0e0e0ef0;
    backdrop-filter: blur(10px);
}

#navbar a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

#navbar a.active {
    color: var(--highlight-text);
}

#navbar a.active::after {
    width: 100%;
}

#navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--underline-width, 0);
    height: 2px;
    background-color: var(--highlight-text);
    transition: width 0.3s ease-in-out;
}

#navbar a:hover::after {
    width: 100%;
}

#navbar a:hover {
    color: var(--highlight-text);
}

#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: relative;
    text-align: left;
}

#heroInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    gap: .5em;
}

#bottom-element {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#bottom-element i {
    font-size: 2rem;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 6em;
    color: #23CE6B;
    display: flex;
    align-items: center;
}

.typing-underline {
    border-right: 2px solid var(--highlight-text);
    animation: blink 0.7s infinite step-end;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--highlight-text);
    }
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

i:hover {
    color: var(--highlight-text);
    cursor: pointer;
}

#projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 80%;
    height: 80%;
}

#projects-container div {
    height: 100%;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

#projects-container div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.844); /* Adjust opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

#projects-container div:nth-child(1) { background: url('shrimphony.PNG') center center / cover no-repeat; }
#projects-container div:nth-child(2) { background: url('aquarisoft.PNG') center center / cover no-repeat; }
#projects-container div:nth-child(3) { background: url('wesleysway.PNG') center center / cover no-repeat; }
#projects-container div:nth-child(4) { background: url('brycehaynesold.PNG') center center / cover no-repeat; }

#projects-container div h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

#projects-container div:hover::before,
#projects-container div:hover h2 {
    opacity: 1;
}

#projects-container div:hover {
    transform: scale(0.98);
    cursor: pointer;
    animation: pulsate 1s infinite;
}

.github-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

#projects-container div:hover .github-icon {
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #23CE6B;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


#about{
    margin-top: 30vh;
    height: 200vh;
}

#contact{
    margin-top: 30vh;
    height: 200vh;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #navbar {
        gap: 1em;
    }

    #hero {
        height: 80vh;
        flex-direction: column-reverse;
    }

    #socials {
        flex-direction: row;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
}